@media screen and (max-width: 1300px) {
  .form-field button {
    position: absolute;
    margin-left: -10px;
  }
}

@media screen and (max-width: 950px) {
  .content .book h2 {
    font-size: 20pt;
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .booking-form button {
    float: right;
    position: absolute;
    margin-left: 10px;
  }

  .booking-form input[type="number"] {
    width: 70px;
  }

  .booking-form input::placeholder {
    font-size: 10pt;
  }
}

@media screen and (max-width: 780px) {
  .booking-form button {
    position: absolute;
    margin-left: 300px;
  }

  .content .book h2 {
    width: 400px;
  }
}

@media screen and (max-width: 780px) {
  .content  {
    margin: 30px;
  }

  .content footer, .copyright {
    margin: 10px;
  }

  .booking-form button {
    margin-left: 480px;
  }
}

@media screen and (max-width: 750px) {
  .booking-form button {
    margin-left: 450px;
  }
}

@media screen and (max-width: 700px) {
  .booking-form button {
    margin-left: 400px;
  }
}

@media screen and (max-width: 650px) {
  .booking-form button {
    margin-left: 350px;
  }
}

@media screen and (max-width: 600px) {
  .menu-bar {
    padding-top: 20px;
  }

  .booking-form button {
    margin-left: 300px;
  }
}

@media screen and (max-width: 550px) {
  .menu-bar {
    padding-top: 20px;
  }

  .booking-form button {
    margin-left: 250px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin: 0 20px 0 20px;
  }

  .content .book h2, .content .book h1 {
    margin-left: 20px;
  }

  .content .book h2 {
    font-size: 16pt;
    width: 300px;
  }

  .booking-form {
    margin: 0 20px 0 20px;
  }

  .booking-form button {
    margin-left: 80px;
  }

  .menu-bar {
    padding-top: 20px;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    margin: 0 0 100px 5px;
  }

  .content footer {
    margin: 0;
  }

  footer select {
    margin-left: 25px;
  }

  .copyright{
    width: 300px;
  }
}
